{% extends "login/home.html" %}

{% block title%}
Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" class="form-group">
	<img src="/static/image/icon1.png" alt="Avatar" class="avatar"
		style="height: 150px; width:150px; margin-left: 150px; padding: 50%;">
	{% csrf_token %}
	{{form|crispy}}

	<button name="create" , type="submit" , class="btn btn-success">Login</button>

	<p>Don't have an account? Create one <a href="/register">here</a></p>
</form>
{% endblock %}