{% extends "login/home.html" %}

{% block titlte %}Register{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
	<div class="content-section" style="height: 150px; width:200px; margin-left: 150px; padding: 50%;">
		<form method="POST" class="form-group">
			<img src="/static/image/icon1.png" alt="Avatar" class="avatar" style="height: 80px; width:80px; align-items: center;">			{% csrf_token %}
			<legend class="border-bottom mb-3">Create an Account</legend>
			{{form|crispy}}
			<button name="create", type="submit", class="btn btn-success">Register</button>
		</form>

		<p>Already have an account?  <a href="/login">Login here</a></p>
	</div>
{% endblock %}